.sidebar{
    display: flex;
    flex-direction: column;
    max-width: 180px;
    .item{
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
    }
    .item + .item {
        margin-left: 0px;
    }
    .active{
        color: #00A3FF;
    }
}