.container {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    margin-top: 40px;
    border-radius: 1rem;
    .group {
        .group-tag {
            .tag {
                margin-top: 20px;
            }
        }
        .group-tag-2 {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #c2c2c2;
            border-radius: 5px;
            padding: 20px;
            .group-item {
                display: flex;
                .item {
                    display: flex;
                    align-items: center;
                    .cover-img {
                        .img {
                        }
                    }
                    h1 {
                        margin: 0px 10px;
                    }
                }
                .item + .item {
                    margin-left: 20px;
                }
            }
            .button {
                height: 100%;
            }
        }
    }
    .group + .group {
        margin-top: 30px;
    }
}
.item-active{
    border: 2px solid #0091ff;

}
.coin-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 5px;
    border-radius: 5px;
    &:hover {
        background-color: #f7f7f7;
    }
    
.money{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: 600;
    font-size: 16px;
}

    .cover-coin-item {
        width: 65px;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .cover-coin-img {
            width: 65px;
            height: 65px;

            overflow: hidden;
            margin: 0;
            padding: 0;
            .cover-img {
                width: 65px;
                height: 65px;
                border-radius: 2px;
                cursor: pointer;

                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
                &:hover {
                    height: 65px;
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
    }
}
