.title {
    margin-bottom: 20px;
}
.container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 900px;
}
.container-item {
    background-color: #ffffff;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    .cover-img {
        display: flex;
        justify-content: center;
        margin-right: 20px;
        margin-top: 10px;
        .img {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .rank {
        color: rgb(255, 102, 0);
        font-weight: 600;
    }
    .content {
        width: 800px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .type {
            color: #6c6c6c;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
        .title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0px;
            .tag {
                padding: 0px 0px;
                font-size: 12px;
                height: 20px;
            }
            .name {
                cursor: pointer;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 600px;

                white-space-collapse: collapse;
                text-wrap: nowrap;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .des {
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 20px;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .info-container {
            display: flex;
            flex-direction: row;
            .info {
                padding: 5px 5px;
                color: var(--third);
                font-weight: 500;
            }
        }
    }
}
