.container {

    line-height: 1.5;
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;
    justify-content: space-between;
    position: relative;
}

.content {
    flex: 1;
    background-color: #fff;
    padding: 50px;
    margin-right: 60px;
    border-radius: 10px;
    box-shadow: 0 10px 50px 0 rgba(#05043e, 0.15);
    .head {
        display: flex;
        justify-content: space-between;
    }
    .info {
        margin-bottom: 20px;
    }
    .name {
        font-size: 30px;
        margin: 30px 0px 0px 0px;
    }
    .foot {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .foot2 {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    .hr{
        margin-top: 40px;
        margin-bottom: 20px;
        border: none;
        border-top: 1px solid rgb(222, 222, 222); /* Thay đổi màu sắc ở đây */    }
}
.warning {
    color: #f3f3f3;
    background-color: #dc5618;
    &:hover {
        background-color: #ef7339;
    }
}
.comment {
    color: #f3f3f3;
    background-color: #187adc;
    &:hover {
        background-color: #419efc;
    }
}
.paragraph {
    // word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    .paragraph1{
        margin-bottom: 20px;
    }
}

.sidebar {
    position: fixed;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 1110px;
    margin-right: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    border-radius: 10px;
    box-shadow: 0 10px 50px 0 rgba(#05043e, 0.15);
}
.mark{
    border: solid 1px #dc5618
}
.icon {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    position: relative;
    &:hover,
    &:focus,
    &.active {
        background-color: #f3f3f3;
        outline: 0;

        span {
            transform: scale(1);
            opacity: 1;
        }
    }

    span {
        position: absolute;
        background-color: #939393;
        white-space: nowrap;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        right: calc(100% + 1.5rem);
        transform-origin: center left;
        transform: scale(0);
        opacity: 0;
        transition: 0.15s ease;
        &::after {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            background-color: #939393;
            right: -5px;
            top: 50%;
            transform: translatey(-50%) rotate(45deg);
            border-radius: 3px;
        }
    }
}

.icon + .icon {
    margin-top: 0.75rem;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .button-group {
        display: flex;
        justify-content: space-between;
        .close-btn{
            cursor: pointer;
            &:hover{
                color: #dc5618;
            }
        }
    }
    
    .modal-title {
        text-align: center;
        margin-bottom: 20px;
    }
    .radio {
        padding-bottom: 20px;
        margin-left: 124px;
    }
    .radio label {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }

    .radio label input[type='radio'] {
        width: 0;
        height: 0;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .radio label input[type='radio']:checked + .outer {
        border: 2px solid #dedede;
    }

    .radio label .outer {
        display: block;
        float: left;
        width: 58px;
        height: 58px;
        margin: 0;
        border-radius: 50%;
        border: 2px solid rgba(255, 244, 244, 0);
        transition: border 110ms linear;
    }
    .radio label .outer .inner {
        display: block;
        margin: 2px 0 0 2px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: solid 1px #dedede;
        background-color: #f8dda3;
    }
    .radio label .outer .inner.t1 {
        background-color: #f5e4e4;
    }
    .radio label .outer .inner.t2 {
        background-color: #f5ebcd;
    }
    .radio label .outer .inner.t3 {
        background-color: #e2eee2;
    }
    .radio label .outer .inner.t4 {
        background-color: #e1e8e8;
    }
    .radio label .outer .inner.t5 {
        background-color: #222;
    }
    .radio label .outer .inner.t6 {
        background-color: #fff;
    }
    .radio label .outer .inner.t7 {
        background-color: #7bb0e1;
    }
    .radio label .outer .inner.t8 {
        background-color: #ac96d5;
    }


    .plus-minus-input {
        display: flex;
        align-items: center;
        .setting-title{
            margin-right: 40px;
        }
      
        .input-group-field {
          text-align: center;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          padding: 1rem;
      
          &::-webkit-inner-spin-button,
          ::-webkit-outer-spin-button {
            appearance: none;
          }
        }
      
        .input-group-button {
            // margin-left: 40px;
            
          .circle {
            border-radius: 50%;
            padding:0.3em;
            cursor: pointer;
          }
        }
      }
}
